<?xml version='1.0' encoding='utf-8'?>
<Server port="{{item.close_port}}" shutdown="SHUTDOWN">
    <!-- {{ ansible_managed }} -->
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">

    {% include "templates/tomcat/server-executor-include.xml" ignore missing %}

    <Connector port="{{item.http_port}}" 
               protocol="{{tomcat_connector_http_protocol|default('org.apache.coyote.http11.Http11NioProtocol')}}" connectionTimeout="20000"
               redirectPort="{{item.https_port}}" {% if tomcat.http_params is defined %}{% for key,value in tomcat.http_params.items() %} {{key}}="{{value}}"{% endfor %}{% endif %} />
    <Connector port="{{item.ajp_port}}" 
               protocol="{{tomcat_connector_ajp_protocol|default('org.apache.coyote.ajp.AjpNioProtocol')}}" 
               redirectPort="{{item.https_port}}" {% if tomcat.ajp_params is defined %}{% for key,value in tomcat.ajp_params.items() %} {{key}}="{{value}}"{% endfor %}{% endif %} />
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="server{{item.srv_num}}">
      <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        {% include ['templates/tomcat/server-realm.xml', 'templates/conf/tomcat-server-realm.xml', 'roles/gl.tomcat/templates/conf/tomcat-server-realm.xml'] %}
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

        {% include "templates/tomcat/server-include.xml" ignore missing %}

      </Host>
    </Engine>
  </Service>
</Server>
